<div class="container" data-ng-controller=TaskCtrl >
    <div class="row">
        <h2>Détails de l'Epic</h2>
    </div>

    <div class="row">
        <div class="col-md-offset-1">
            <form class="form"  ng-submit="save()">
                <div class="form-group">
                    <label for="epicName">Nom :</label>
                    <input type="text" ng-model="epic.name" class="form-control"
                        id="epicName" placeholder="Nom de l'Epic">
                </div>

                <div class="form-group">
                    <label for="epicPriority">Priorité :</label>
                    <select id="epicPriority" class="form-control" ng-model="epic.priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>

                <div class="form-group">
                    <button id="save" class="btn btn-success" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h3>Liste des Stories</h3>
        <span id="addButton" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Ajouter une story</span>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nouvelle Story</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd" ng-submit="addStory()" class="form" novalidate>
                        <div class="form-group">
                            <label for="storyName">Nom :</label>
                            <input type="text" ng-model="user_story.name" class="form-control"
                                   id="storyName" placeholder="Nom de l'User Story" required="required">
                        </div>

                        <div class="form-group">
                            <label for="storyPriority">Niveau de Priorité :</label>
                            <select id="storyPriority" class="form-control" ng-model="user_story.priority">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="storyDescription">Description</label>
                    <textarea id="storyDescription" class="form-control" ng-model="user_story.description" rows="5"
                              placeholder="Description ..."></textarea>
                        </div>

                        <div class="form-group">
                            <button id="addStoryBtn" class="btn btn-success" type="submit">Ajouter</button>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="storyTab" class="row">
        <table ui-sortable st-table="rowCollection"
               class="table table-striped" ng-model="listStorys">
            <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Priorité</th>
                <th>Description</th>
                <th>Nombre de taches</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="story in epic.userstory">
                <td class="warning">
                    <span class="btn btn-danger btn btn-danger glyphicon glyphicon-remove"
                        ng-click="removeStory({{story.id}})" aria-label="Remove"></span>
                    <span class="btn btn-warning glyphicon glyphicon-th-list"
                          ng-click="seeDetails({{story}})" aria-hidden="true"></span>
                </td>
                <td class="warning">{{story.name}}</td>
                <td class="warning">{{story.priority}}</td>
                <td class="warning">{{story.description}}</td>
                <td class="warning">{{story.tasks.length}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
