<div class="container" data-ng-controller=MainCtrl >
    <div class="row">
        <div class="col-md-8">
            <h3>Liste des Projets</h3>
        </div>
        <div class="col-md-4">
            <span id="addButton" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Nouveau projet</span>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nouveau projet</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd" ng-submit="addEpic()" class="form">
                        <div class="form-group">
                            <label for="epicName">Nom :</label>
                            <input class="form-control" type="text" ng-model="epic.name"
                                   id="epicName" placeholder="Nom du projet" required="required">
                        </div>

                        <div class="form-group">
                            <label for="epicPriority">Niveau de Priorité :</label>
                            <select id="epicPriority" class="form-control" ng-model="epic.priority">
                                <option value="0" selected>Low</option>
                                <option value="1">Medium</option>
                                <option value="2">High</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Créer</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="epicTab" class="row">
        <table  class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Priorité</th>
                <th>Nombre de story</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="epic in listEpics">
                <td class="warning">
                    <span class="btn btn-danger btn btn-danger glyphicon glyphicon-remove"
                          ng-click="removeEpic({{epic.id}})" aria-label="Remove"></span>
                    <span class="btn btn-warning glyphicon glyphicon-th-list"
                          ng-click="seeDetails({{epic}})" aria-hidden="true"></span>
                </td>
                <td class="warning">{{epic.name}}</td>
                <td class="warning">{{epic.priority}}</td>
                <td class="warning">{{epic.userstory.length}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
