<div class="container" data-ng-controller=TaskCtrl >

    <div class="row">
        <h2>Détails de la Tache</h2>
    </div>

    <div class="row">
        <form class="form" ng-submit="save()">
            <div class="form-group">
                <label for="taskName">Nom :</label>
                <input type="text" ng-model="task.name" class="form-control"
                       id="taskName" placeholder="Nom de la Story">
            </div>

            <div class="form-group">
                <label for="taskPriority">Priorité :</label>
                <select id="taskPriority" class="form-control" ng-model="task.priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>

            <div class="form-group">
                <label for="taskStatus">Status :</label>
                <select id="taskStatus" class="form-control" ng-model="task.status">
                    <option value="NOT_STARTED">Non débuté</option>
                    <option value="ONGOING">En Cours</option>
                    <option value="DONE">Terminé</option>
                </select>
            </div>

            <div class="form-group">
                <label for="devAffected">Développeur affecté :</label>
                <select class="form-control"  id="devAffected"
                        data-ng-options="dev.id as dev.name for dev in listDevelopers"
                        data-ng-model="task.developer"></select>
            </div>

            <div class="form-group">
                <label for="taskDescription">Description :</label>
                <input type="text" ng-model="task.description" class="form-control"
                    id="taskDescription" placeholder="Description de la Story">
            </div>

            <div class="form-group">
                <button id="save" class="btn btn-success" type="submit">Enregistrer</button>

                <button id="return" class="btn btn-primary" type="button" ng-click="previous()">Retour</button>
            </div>
        </form>
    </div>
</div>