<div class="container" data-ng-controller=StoryCtrl >

    <div class="row">
        <h2>Détails de la Story</h2>
    </div>

    <div class="row">
        <div class="col-md-offset-1">
            <form class="form" ng-submit="save()">
                <div class="form-group">
                    <label for="storyName">Nom :</label>
                    <input type="text" ng-model="user_story.name" class="form-control"
                           id="storyName" placeholder="Nom de la Story" disabled>
                </div>

                <div class="form-group">
                    <label for="storyPriority">Priorité :</label>
                    <select id="storyPriority" class="form-control" ng-model="user_story.priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="storyDescription">Description :</label> <input
                        type="text" ng-model="user_story.description" class="form-control"
                        id="storyDescription" placeholder="Description de la Story" disabled>
                </div>

                <div class="form-group">
                    <button id="save" class="btn btn-success" type="submit">Enregistrer</button>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <h3>Liste des Tâches</h3>
        <span id="addButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ajouter une tache</span>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter une tache</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd" ng-submit="addTask()" class="form" novalidate>
                        <div class="form-group">
                            <label for="taskName">Nom de la tache :</label> <input
                                type="text" ng-model="task.name" class="form-control"
                                id="taskName" placeholder="Nom de la Tâche"
                                required="required">
                        </div>

                        <div class="form-group">
                            <label for="taskPriority">Niveau de Priorité :</label>
                            <select id="taskPriority" class="form-control" ng-model="task.priority">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="devAffected">Developer affectation</label>
                            <select id="devAffected" class="form-control" ng-model="task.developer.id">
                                <option ng-repeat="developer in listDevelopers" value="{{developer.id}}">
                                    {{developer.name}} ( {{developer.id}} )</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="taskDescription">Description</label>
                            <textarea id="taskDescription" class="form-control" ng-model="task.description" rows="5"
                                      placeholder="Description ..."></textarea>
                        </div>

                        <div class="form-group">
                            <button id="addTaskBtn" class="btn btn-success" type="submit">Ajouter</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="taskTab" class="row">
        <table ui-sortable st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Priorité</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in user_story.tasks">
                <td class="warning">
                    <span class="btn btn-danger btn btn-danger glyphicon glyphicon-remove"
                        ng-click="removeTask({{task.id}})" aria-label="Remove"></span>
                    <span class="btn btn-warning glyphicon glyphicon-th-list"
                          ng-click="seeDetails({{task}})" aria-hidden="true"></span>
                <td class="warning">{{task.name}}</td>
                <td class="warning">{{task.priority}}</td>
                <td class="warning">{{task.description}}</td>
                <td class="warning">{{task.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
